html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    height:100%;
    font-size: 100%;
}

img {
  max-width: 100%;
}

div {
    /*height:100%;*/
    box-sizing:border-box;
    border:none;
}
.main-container {
 display: block;
  height: 100%;
  width: 100%;
}

.cell {
  /*display: table-cell;*/
  display:block;
  text-align: center;
  vertical-align: middle;
}

.left-container {    
    margin:0;
    background: #11C1F3;
    color: #FFF;  
}

.right-container {
    margin:0;
    background: #000000;
    /*color: #FFFFFF;*/
    color:#000;
}




.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}

.cd-timeline-img.cd-picture {
  background: #75ce66;
}

.cd-timeline-img.cd-movie {
  background: #c03b44;
}

.cd-timeline-img.cd-location {
  background: #f0ca45;
}


.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
  float:right;
  min-width: 85%;
  max-width: 90%;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

.cd-timeline-content header h2 {
    color: #303e49;
    text-align:left;
}

.cd-timeline-content article p{
    font-size:1.5em;
    text-align:left;
}
.cd-timeline-content footer{    
    text-align:left;
}
.cd-timeline-content footer .techno-title{    
    font-weight:700;
    font-size:1.3em;
}
.cd-timeline-content footer .technos{    
    
    font-size:1.3em;
}

.cd-timeline-content h2 {
  
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}

@media (min-width: 768px) {
  
}
@media (min-width: 992px) {
  .cell {
    display: table-cell;
  }
  .main-container {
    position:absolute;
    display: table;
    height: 100%;
    width: 100%;
    }
    .left-container {
        margin:0;
        position:fixed;
        height: 100%;
        width:35%;
    }
    .right-container {
        width:65%;
        
    }

    .cd-timeline-content {
        min-width:90%;
    }
}
@media (min-width: 1200px) {
  /*.cell {
    display: table-cell;
  }
  .main-container {
    display: table;
    height: 100%;
    width: 100%;
    }*/
}

